<div class="min-h-screen w-full flex">
  <!-- Panel izquierdo, visible solo en pantallas medianas o mayores -->
  <div class="hidden md:flex w-1/2 bg-gray-100 flex-col items-center justify-center p-8 text-center">
    <div class="mb-8">
      <img src="https://assets.api.uizard.io/api/cdn/stream/b13e5916-d78f-4824-9765-8c39285fcdea.png" alt="BankTicket logo" />
    </div>
    <h1 class="text-2xl font-semibold mb-2">BankTicket makes ticket management easy.</h1>
    <p class="text-gray-600">Create, update, and track tickets effortlessly.</p>
  </div>

  <!-- Panel derecho: Formulario de inicio de sesión -->
  <div class="w-full md:w-1/2 flex flex-col p-8">
    <div class="flex justify-end items-center mb-8">
      <h2 class="text-xl font-semibold">BankTic</h2>
    </div>

    <div class="flex-1 flex flex-col justify-center max-w-sm mx-auto w-full">
      <h3 class="text-2xl font-semibold mb-6">Log in</h3>
      <form class="space-y-6">
        <!-- Campo de Ticket ID -->
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Correo</mat-label>
          <input matInput placeholder="example@mail.com" type="text" required />
        </mat-form-field>

        <!-- Campo de Contraseña -->
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Contraseña</mat-label>
          <input matInput placeholder="••••••••••" type="password" required />
        </mat-form-field>

        <!-- Botón de inicio de sesión -->
        <button mat-flat-button class="w-full bg-black hover:bg-opacity-90 text-white" type="submit"  (click)="login()">
          Log in
        </button>

        <!-- Enlace de contraseña olvidada -->
        <button mat-button color="accent" class="w-full text-sm font-normal" >
          Forgot your password?
        </button>
      </form>
    </div>
  </div>
</div>
