<div class="home-container">
    <!-- Quick Stats -->
    <div class="quick-stats mb-10">
      <h1>Estadísticas Rápidas</h1>
      <div class="stats-container mt-10">
        <div class="stat-card">
          <h3>Total Tickets</h3>
          <p class="stat-number">{{stats.total}}</p>
        </div>
        <div class="stat-card">
          <h3>Pendientes</h3>
          <p class="stat-number">{{stats.pendientes}}</p>
        </div>
        <div class="stat-card">
          <h3>En Proceso</h3>
          <p class="stat-number">{{stats.inProgress}}</p>
        </div>
        <div class="stat-card">
          <h3>Resueltos</h3>
          <p class="stat-number">{{stats.resueltos}}</p>
        </div>
      </div>
    </div>

    <!-- Categorías -->
    <div class="categories-section mb-10">
      <h2>Categorías</h2>
      <div class="cards-container mt-10">
        <div class="info-card" *ngFor="let category of categories">
          <mat-icon>{{category.icon}}</mat-icon>
          <h3>{{category.nombre_categoria}}</h3>
          <p>{{category.count}} tickets</p>
        </div>
      </div>
    </div>

    <!-- Áreas -->
    <div class="areas-section mb-10">
      <h2>Áreas</h2>
      <div class="cards-container mt-10">
        <div class="info-card" *ngFor="let area of areas">
          <mat-icon>{{area?.icon}}</mat-icon>
          <h3>{{area?.area}}</h3>
          <p>{{area?.count}} tickets</p>
        </div>
      </div>
    </div>
</div>