<div class="h-screen flex flex-col">
  <app-header (menuToggled)="toggleSidenav()"></app-header>

  <mat-sidenav-container class="flex-grow">
    <mat-sidenav #sidenav [mode]="isMobile ? 'over' : 'side'" 
                 [opened]="!isMobile" 
                 [class.mat-elevation-z2]="true"
                 class="app-sidenav w-64">
      <mat-nav-list class="app-nav-list">
        <a
          mat-list-item
          routerLink="/app"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <mat-icon>home</mat-icon>
          <span class="ml-3">Inicio</span>
        </a>
        <a mat-list-item routerLink="/app/tickets" routerLinkActive="active">
          <mat-icon>confirmation_number</mat-icon>
          <span class="ml-3">Tickets</span>
        </a>
        <a mat-list-item routerLink="/app/roles" routerLinkActive="active">
          <mat-icon>admin_panel_settings</mat-icon>
          <span class="ml-3">Roles</span>
        </a>
        <a mat-list-item routerLink="/app/users" routerLinkActive="active">
          <mat-icon>people</mat-icon>
          <span class="ml-3">Usuarios</span>
        </a>
        <a mat-list-item routerLink="/app/menus" routerLinkActive="active">
          <mat-icon>toc</mat-icon>
          <span class="ml-3">Menús</span>
        </a>
        <a mat-list-item routerLink="/app/reports" routerLinkActive="active">
          <mat-icon>bar_chart</mat-icon>
          <span class="ml-3">Reportes</span>
        </a>
        <a mat-list-item routerLink="/app/dashboard" routerLinkActive="active">
          <mat-icon>dashboard</mat-icon>
          <span class="ml-3">Dashboard</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="p-6">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
      
  </mat-sidenav-container>
</div>